<p>
    post for <%=params[:id] %>
     <%= link_to "back", posts_path %>
</p>

<div className="panel">
    <%= form_for @post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :body %>

        <%= f.text_area :body %>
        <%=f.submit %>
    <% end %>
</div>
